# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
GEMINI_API_KEY=

# Discord Integration
DISCORD_CLIENT_ID=1486575593960243331
DISCORD_CLIENT_SECRET=n41072aqNUtAGtNQ_q1L5i6w7R95hah6
DISCORD_BOT_TOKEN=
DEEPSEEK_API_KEY=sk-4b761fd48ad0415e87bd67103b2b3229
